nav ul li a {
    color: #77adff;
    font-size: 2vw
}
ul {
    list-style-type: "- ";
    color: #8877ff;
}
body{
    background-color: #0A2001;
}

header{
    color: #9999ff
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


header h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1px;
    font-size: 2.1vw;
}
header h1{
    background-color: #103010;
    color: #a08eff;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3vw;
    text-align: center;
}
header button{
    padding: 10px 20px;
    font-size: 1vw;
}
header h2 input{
    background-color: #020101;
    color: white;
    padding: 10px 20px; font-size: 1vw;
}

div header h5 a{
    color: gold;

}

div button{
    position: absolute; top: 50%; right: 0; transform: translateY(-50%);
    font-size: 1.2vw;
}
